* {
    box-sizing: border-box;
    margin: 0;
    border: 0;;
}

body {
    background-color: blue;
    margin: 10px;
}

.project {
    width: 200px;
    height: 600px;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#content {
    display: flex;
    gap: 10px;

}

.item {
    width: 80%;
    background-color: magenta;
    color: white;
    border: 1px grey solid;
    padding: 5px;
}